
<table cellpadding="0" cellspacing="0" width="595px">
	<tr>
		<td style="background-color: #FFFFFF; padding: 15px">
			{COMPANY_NAME}, <br />
		<br /> {CUSTOMER_TYPE} {CUSTOMER_NAME} ({CUSTOMER_ID}) has requested
			brochures by post <br />
		<br />
			<table>
				<tr>
					<td>Address</td>
					<td>{ADDRESS_LINE_1}</td>
				</tr>
				<tr>
					<td></td>
					<td>{ADDRESS_LINE_2}</td>
				</tr>
				<tr>
					<td>City</td>
					<td>{CITY}</td>
				</tr>
				<tr>
					<td>Postcode</td>
					<td>{POSTCODE}</td>
				</tr>
				<tr>
					<td>Country</td>
					<td>{COUNTRY}</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>{EMAIL}</td>
				</tr>
				<tr>
					<td>Phone</td>
					<td>{PHONE}</td>
				</tr>
				<tr>
					<td>Comments</td>
					<td>{COMMENTS}</td>
				</tr>
			</table> <br />
		</td>
	</tr>

</table>
