<table cellpadding="0" cellspacing="0" width="595px">
	<tr>
		<td style="background-color: #FFFFFF; padding: 15px">
			{RECIPIENT_NAME}, <br />
		<br /> <b>We have just drawn the winners for our {COMPETITION_NAME}.
				Unfortunately your name has not come up in our winners list.</b> <br />
				
		<br /> Please continue to check back at our site as we run at least 4 competitions 
		a year. You could easily be the winner of one of our great prizes in the next draw.<br />
		
		<br/><br/>
			Best regards,
			<br/>
			The {COMPANY_NAME} team. 
			<br/>
		</td>
	</tr>

</table>
