<table cellpadding="0" cellspacing="0" width="595px">
	<tr>
		<td style="background-color: #FFFFFF; padding: 15px">
			{RECIPIENT_NAME}, <br />
		<br /> <b>We have just drawn our winners for {COMPETITION_NAME}
				but unfortunately your name has not come up in our winners list!</b> <br />
				
		<br /> Please continue to check our site as at least 4 competitions 
		a year are put up to win prizes from.<br />
		
		<br/><br/>
			Best regards,
			<br/>
			The {COMPANY_NAME} team. 
			<br/>
		</td>
	</tr>

</table>
