<table style="width:100%;margin-left:-8pt;page-break-after:always;">
	<tr valign="top">
		<td style="width:182pt;max-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle;">
			{ADDRESS_1}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_2}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_3}
		</td>
	</tr>
	<tr valign="top">
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_4}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_5}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_6}
		</td>
	</tr>
	<tr valign="top">
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_7}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_8}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_9}
		</td>
	</tr>
	<tr valign="top">
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_10}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_11}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_12}
		</td>
	</tr>
	<tr valign="top">
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_13}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_14}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_15}
		</td>
	</tr>
	<tr valign="top">
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_16}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_17}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_18}
		</td>
	</tr>
	<tr valign="top">
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_19}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_20}
		</td>
		<td style="width:182pt;max-width:182pt;min-width:182pt;min-width:182pt;height:106pt;min-height:106pt;max-height:106pt;vertical-align:middle">
			{ADDRESS_21}
		</td>
	</tr>
</table>